*{
    margin: 0%;
    padding : 0%;
}

body,html{
    height : 100%;
    width : 100%;
    box-sizing: border-box;
    background-image: url('cart-background.png');
    color: rgb(55, 3, 104);
}

h1{
    text-align: center;
    margin-bottom: 40px;

}
#cart{
    text-align: center;
    margin: 20px;
}
#totalAmount{
    text-align: center;
    margin: 10px;
}
button{
    text-align: center;
    align-items: center;
    margin: 15px;
    background-color:rgb(88, 122, 185);
    padding: 3px;
    border-radius: 4px;
    box-shadow: 1px 0.6px rgb(94, 127, 187);
}
button:hover{
    cursor: pointer;
}
#buyNow{
    display: flex;
    align-items: center;
    justify-content: center;
}
#BackToProduct{
    text-align: center;
}
a{
    color: rgb(117, 181, 221);
    border: 2px solid rgb(25, 76, 134);
    background-color: rgb(6, 54, 97);
    border-radius: 6px;
    padding: 4px;
}
a:hover{
    color: rgb(147, 193, 221);
    border: 2px solid rgb(4, 49, 100);
    background-color: rgb(2, 29, 53);
}
input{
    color: rgb(190, 128, 248);
    background-color: rgb(50, 3, 94);
    border-radius: 7px;
}